@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Oswald:wght@500&display=swap');

div{
    max-width: 1600px;
    margin: 0 auto;
}
.logo{
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
nav a{
    text-align: center;
    color: #1D4157;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #EB4812;
    color: white;
}
.home-title{
    color: #69A0C2;
    font-family: Oswald;
    font-size: 2em;
    margin-top: 10px;
}
#hero-box {
    margin: 5px;
    padding: 40px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background{
    height: 725px;
    background-color: #F1FAEE;
}
#hero-img{
    width: 100%;
}
header{
    background-color: #F1FAEE;
    font-family: Oswald;
}
h2{
    color:#69A0C2;
    font-family: Oswald;
    font-size: 2em;
    margin: 0;
}
h4{
    color: #F1FAEE;
}
body{
    background-color: #1D4157;
    font-family: Archivo, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.book, .join{
    background-color: #69A0C2;
    color: #1D4157;
    text-decoration: none;
    padding: 15px 30px;
    font-family: Archivo, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #EB4812;
    color: black;
}
.card-img {
    border: 10px solid #69A0C2;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.msg{
    background-color: #1D4157;
    font-size: 1.5em;
    padding: 35px;
}
.msg h2{
    color: #F1FAEE;
    font-size: 1.5em;
}
.msg p{
    color: #F1FAEE;
    font-size: 22px;
    padding-bottom: 15px;
}
footer{
    background-color: #F1FAEE;
    padding: 25px 50px;
    margin-top: 200px;
}
footer h3{
    color: #1D4157;
}
footer a{
    color: #69A0C2;
    text-decoration: none;
}
footer a:hover{
    color: #EB4812;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}