body {
    background-color: black;
}
card {
    text-align: center;
    display: block;
    width: 300px;
    justify-content: center;
    margin: auto;
    background-color: white;
    border-radius: 25px;
}
card img {
    align-self: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}
footer {
    background-color: rgb(23, 56, 132);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1.1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
h1 {
    padding: 0;
    margin: 0;
    margin-top: -20px;
}
h2 {
    padding: 0;
    margin: 0;
}
h3 {
    color: rgb(23, 56, 132);
}
h4 {
    font-size: 12px;
    padding: 0px;
    margin: 0;
}
p {
    margin-top: -5px;
    padding: 20px;
}
.second {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}