
body {
    text-align: center;
    margin: 20px;
    background-color: antiquewhite;
}
nav {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
}
a {
    text-decoration: none;
    font-size: larger;
    padding: 10px;
    color: orangered;
}
a:hover {
    color: white;
    background-color: orangered;
}