body {
    text-align: center;
    margin: 0;
  }
  h1 {
    color: #16225a;
  }
  nav {
    background-color: steelblue;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
  }
  a {
    color: white;
    margin: 10px;
    font-size: 1em;
    padding: 5px;
    text-decoration: none;
  }
  a:hover {
    background-color: white;
    color: #16225a;
    padding: 5px;
  }
  p {
    color: #16225a;
  }